# First day at Jedha
# Introduction to python and notebook via VSCode

## Basics, Loops and Conditions

In [115]:
print("Hello World!")

Hello World!

In [116]:
type(2)

int

In [117]:
#division int
type(4//3)

#division float
type(4/3)

float

### Loop `for`

In [118]:
# l est un itérateur
l = [1, 2, 3, 4, 5]

In [119]:
for item in l:
    print(item)

1
2
3
4
5

In [120]:
# range takes the first params and the second - 1
for item in range(1, 6):
    print(item)

1
2
3
4
5

### Loop `while`

In [121]:
a = 3
while a <= 10:
    print(a)
    a += 1

3
4
5
6
7
8
9
10

In [122]:
#Check Truth table in Learn Python The Hard Way

### Condition
C'est une instruction qui prend en compte un booléan et qui exécute le code si le booléan est vrai

In [123]:
a = 3 

if a == 2:
    print("a is equal to 2")

In [124]:
a = 3 

if a == 2:
    print("a is equal to 2")
else: 
    print(f"a is equal to {a}")

a is equal to 3

In [125]:
a = 3 

if a == 2:
    print("a is equal to 2")
elif a < 5:
    print("a bigger than 2 but less than 5")
else: 
    print(f"a is equal to {a}")

a bigger than 2 but less than 5

## Data type :

### Lists

In [126]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [127]:
list_a[0]

1

In [128]:
list_a[-1]

10

In [129]:
list_b = ["hello", "world", "test"]

In [130]:
# cconcatenation de listes
list_a + list_b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'world', 'test']

In [131]:
# append 
list_a.append(list_b)

list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ['hello', 'world', 'test']]

In [132]:
# append 2
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_b = ["hello", "world", "test"]

for add in list_b:
    list_a.append(add)

In [133]:
list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'world', 'test']

In [134]:
# extend
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_b = ["hello", "world", "test"]

list_a.extend(list_b)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'world', 'test']

#### Delete an element of a list

In [135]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [136]:
list_b.remove("hello")

print(list_b)

['world', 'test']

In [137]:
# remove()

list_b = ["hello", "world", "test", "hello"]

while "hello" in list_b:
    list_b.remove("hello")

list_b

['world', 'test']

In [138]:
# pop 

list_b = ["hello", "world", "test", "hello"]

list_b.pop(-2)

# OR

list_b = ["hello", "world", "test", "hello"]

element_removed = list_b.pop(-2)

#### Slice

In [139]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_a)

print(list_a[2 : ])

print(list_a[2 : -1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10]
[3, 4, 5, 6, 7, 8, 9]

In [140]:
#le pas 
# (après les 2 :, il me retourne la liste en sotant les élements 2 par 2 )
print(list_a[:: 2])

[1, 3, 5, 7, 9]

In [141]:
# ou 3 par 3, etc...
print(list_a[:: 2])

[1, 3, 5, 7, 9]

### Dictionaries

In [142]:
dict_a = {
    'name': 'Tuka'
}

In [143]:
print(dict_a)

{'name': 'Tuka'}

In [144]:
dict_a = {
    'name' : 'Tuka',
    'age' : 27,
    'job' : 'growth'
}

In [145]:
dict_a["job"]

'growth'

In [146]:
dict_a.keys()

dict_keys(['name', 'age', 'job'])

In [147]:
dict_a = {
    'name' : 'Tuka',
    'age' : 27,
    'job' : 'growth',
    'voiture' : {
        'model': 'classe A',
        'nb_portes' : 5
    }
}

dict_a

{'name': 'Tuka',
 'age': 27,
 'job': 'growth',
 'voiture': {'model': 'classe A', 'nb_portes': 5}}

In [148]:
dict_members = {
    'Tuka' : {
        'name' : 'Tuka',
        'age' : 27,
        'job' : 'growth',
        'voiture' : {
            'model': 'classe A',
            'nb_portes' : 5
        }
    },
    'Laura' : {
        'name' : 'Laura',
        'age' : 30,
        'job' : 'Painter',
        'voiture' : {
            'model': 'classe A',
            'nb_portes' : 5
        }
    }
}

In [149]:
dict_members["Laura"]["voiture"]

{'model': 'classe A', 'nb_portes': 5}

In [150]:
dict_members.values()

dict_values([{'name': 'Tuka', 'age': 27, 'job': 'growth', 'voiture': {'model': 'classe A', 'nb_portes': 5}}, {'name': 'Laura', 'age': 30, 'job': 'Painter', 'voiture': {'model': 'classe A', 'nb_portes': 5}}])

In [151]:
dict_a.items()

dict_items([('name', 'Tuka'), ('age', 27), ('job', 'growth'), ('voiture', {'model': 'classe A', 'nb_portes': 5})])

In [152]:
for item in dict_a.items():
    print(item)

('name', 'Tuka')
('age', 27)
('job', 'growth')
('voiture', {'model': 'classe A', 'nb_portes': 5})

### Tuple

In [153]:
tuple_a = ('name', 'Julien')

print(tuple_a)

('name', 'Julien')

In [154]:
tuple_a[0]

'name'

In [155]:
tuple_a[0] = "Kevin"

TypeError: 'tuple' object does not support item assignment

### Slice

In [ ]:
list_b = ["hello", "world", "test", "jedha", "tuka"]


print(list_b)

set(list_b)

['hello', 'world', 'test', 'jedha', 'tuka']

{'hello', 'jedha', 'test', 'tuka', 'world'}

## Functions

### No arguments

In [ ]:
def mean_cost_car(par1, par2, par3):
    mean_car = (par1 + par2 + par3) / 3
    print(mean_car)

In [ ]:
mean_cost_car(2000, 10000, 6000)

6000.0

In [ ]:
mean_car = mean_cost_car(2000, 10000, 6000)

print(mean_car)

6000.0
6000.0

Sans `return` dans ma fonction, la velur affiché ne peut être stocké dans une variable

In [ ]:
def mean_cost_car(par1, par2, par3):
    mean_car = (par1 + par2 + par3) / 3
    print(mean_car)
    return mean_car

In [ ]:
mean_car = mean_cost_car(2000, 10000, 6000)

print(mean_car)

6000.0
6000.0

In [ ]:
def mean_cost_car(par1, par2, par3):
    mean_c = (par1 + par2 + par3) / 3
    return mean_c

La variable `mean_c` a scope `local` et ne peut être utilisé en dehors de ma fonction

In [ ]:
mean_c

NameError: name 'mean_c' is not defined

### Add a default argument
an `argument` is the value of a parameter

In [ ]:
def mean_cost_car(par1, par2, par3=9000):
    mean_c = (par1 + par2 + par3) / 3
    return mean_c

par 3 is a `default` parameter which has been assigned a value of 9000

In [ ]:
mean_cost_car(4, 5)

3003.0

par 3 is `reassigned` as 6

In [113]:
mean_cost_car(4,5,6)

5.0